@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid $color-border-light;
  background: $color-background;
}

.inner {
  @include container;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo {
  font-size: $font-size-md;
  font-weight: 600;
  color: $color-text-primary;
}